ACTION=="change", SUBSYSTEM=="block", KERNEL=="loop[0-9]*", ENV{DEVTYPE}=="disk", \
  ATTR{loop/backing_file}=="?*", \
  RUN+="/sbin/losetup --direct-io=on /dev/%k"
